# OS X
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two carriage returns
Icon


# Thumbnails
._*

# Files that might be created on a Volume
.DocumentRevisions-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


# Datasets
Dataset_Monastero
Dataset_Monastero_Small

data

weights

Scripts/Task1_Localization/Bellomo_Features
Scripts/Task1_Localization/Monastero_Features

yolov8n.pt
yolov8x.pt

runs
logs